
 <div>
  <ul class="list-group users">
    <li *ngFor = "let user of users" class= "list-group-item">

 <table style="width:100%">
 <tr>
   <th>Name</th>
   <th>Email</th>
   <th>Phone </th>  
</tr>
  
    <td>{{user.name}}</td>
   <td>{{user.email}}</td>  
   <td>{{user.phone}}</td>
  
   </table>

   


 <! Name:{{user.name}}, Email:{{user.email}}, Phone:{{user.phone}} !/>
        
   </li>

 </ul>

</div>